# 1. Crie três variáveis e atribua os valores a seguir: a=1, b=5.9 e c=‘teste’. A partir disso, bretorne o tipo de cada uma das variáveis. texto em itálico

In [4]:
a = 1
b = 5,9
c = "teste"

In [5]:
type(a)

int

In [6]:
type(b)

tuple

In [7]:
type(c)

str

# 2. Troque o valor da variável a por ‘1’ e verifique se o tipo da variável mudou.

In [9]:
a = '1'

type(a)

str

# 3. Faça a soma da variável b com a variável c. Interprete a saída, tanto em caso de execução correta quanto em caso de execução com erro.

In [10]:
str(b) + c

'(5, 9)teste'

In [11]:
b + c

TypeError: can only concatenate tuple (not "str") to tuple

# 4. Crie uma lista com números de 0 a 9 (em qualquer ordem). Com ela, faça:
- a. Adicione o número 6
- b. Insira o número 7 na 3ª posição da lista
- c. Remova o elemento 3 da lista
- d. Adicione o número 4
- e. Verifique o número de ocorrências do número 4 na lista

In [12]:
lista = [0, 2, 1, 4, 3, 5, 6, 8, 7, 9]

In [13]:
lista.append(6)

print(lista)

[0, 2, 1, 4, 3, 5, 6, 8, 7, 9, 6]

In [14]:
lista.insert(2, 7)

print(lista)

[0, 2, 7, 1, 4, 3, 5, 6, 8, 7, 9, 6]

In [15]:
lista.remove(3)

print(lista)

[0, 2, 7, 1, 4, 5, 6, 8, 7, 9, 6]

In [16]:
lista.append(4)

print(lista)

[0, 2, 7, 1, 4, 5, 6, 8, 7, 9, 6, 4]

In [17]:
lista.count(4)

2

# 5. Ainda com a lista criada na questão anterior, faça:
- a. Retorne os primeiros 3 elementos da lista
- b. Retorne os elementos que estão da 3ª posição até a 7ª posição da lista
- c. Retorne os elementos da lista de 3 em 3 elementos
- d. Retorne os 3 últimos elementos da lista
- e. Retorne todos os elementos menos os 4 últimos da lista

In [18]:
lista[:3]

[0, 2, 7]

In [19]:
lista[2:7]

[7, 1, 4, 5, 6]

In [20]:
lista[1:12:3]

[2, 4, 8, 6]

In [21]:
lista[-3:]

[9, 6, 4]

In [22]:
lista[:-4]

[0, 2, 7, 1, 4, 5, 6, 8]

# 6. Com a lista das questões anteriores, retorne o 6º elemento da lista.

In [23]:
lista[5]

5

#7. Altere o valor do 7º elemento da lista para o valor 12.

In [24]:
lista[6] = 12

print(lista)

[0, 2, 7, 1, 4, 5, 12, 8, 7, 9, 6, 4]

#8. Inverta a ordem dos elementos na lista.

In [25]:
lista.reverse()

print(lista)

[4, 6, 9, 7, 8, 12, 5, 4, 1, 7, 2, 0]

#9. Ordene a lista.

In [26]:
lista.sort()

print(lista)

[0, 1, 2, 4, 4, 5, 6, 7, 7, 8, 9, 12]

# 10. Crie uma tupla com números de 0 a 9 (em qualquer ordem) e tente:
- a. Alterar o valor do 3º elemento da tupla para o valor 10
- b. Verificar o índice (posição) do valor 5 na tupla

In [27]:
tupla = (0, 2, 1, 4, 3, 5, 6, 8, 7, 9)

In [28]:
tupla[2] = 10

TypeError: 'tuple' object does not support item assignment

In [29]:
tupla.index(5)

5

# 11. Crie um dicionário com 5 entradas e suas respectivas chaves e valores. Faça:
- a. Imprima todas as chaves do dicionário
- b. Imprima todos os valores do dicionário
- c. Imprima todos os itens do dicionário
- d. Imprima o 2º item do dicionário
- e. Imprima o dicionário completo
- f. Percorra o dicionário, imprimindo para cada entrada o modelo “(chave) tem como valor (valor)”

In [30]:
dicionario = {
    'chave1': 'valor1',
    'chave2': 'valor2',
    'chave3': 'valor3',
    'chave4': 'valor4',
    'chave5': 'valor5'
}

print(dicionario.keys())

dict_keys(['chave1', 'chave2', 'chave3', 'chave4', 'chave5'])

In [31]:
for chave in dicionario.values():
    print(chave)

valor1
valor2
valor3
valor4
valor5

In [32]:
print(dicionario.items())

dict_items([('chave1', 'valor1'), ('chave2', 'valor2'), ('chave3', 'valor3'), ('chave4', 'valor4'), ('chave5', 'valor5')])

In [33]:
dicionario['chave2']

'valor2'

In [34]:
print(dicionario.items())

dict_items([('chave1', 'valor1'), ('chave2', 'valor2'), ('chave3', 'valor3'), ('chave4', 'valor4'), ('chave5', 'valor5')])

In [35]:
for chave, valor in dicionario.items():
    print(f"{chave} tem como valor {valor}")

chave1 tem como valor valor1
chave2 tem como valor valor2
chave3 tem como valor valor3
chave4 tem como valor valor4
chave5 tem como valor valor5

# 12. Crie um arquivo e:
- a. Escreva nele os números de 1 a 10
- b. Depois de escrito, imprima na tela todos os números do arquivo
- c. Escreva no arquivo os números de 11 a 20, substituindo os números que estavam antes no arquivo
- d. Escreva no arquivo os números de 21 a 30, adicionando os números no final do arquivo (sem apagar o que já estavam lá)
- e. Imprima na tela todos os números do arquivo novamente (de 11 a 30)
- f. Imprima na tela todos os números do arquivo novamente, mas agora linha por linha

In [59]:
arquivo = open('arquivo.txt', 'w')

for i in range(10):
    arquivo.writelines(str(i + 1))

arquivo.close()

In [61]:
with open('arquivo.txt', 'r') as arquivo:
    print(arquivo.read())

12345678910

In [70]:
arquivo = open('arquivo.txt', 'w')

for i in range(10):
    arquivo.writelines(str(i + 11))

arquivo.close()

with open('arquivo.txt', 'r') as arquivo:
    print(arquivo.read())

11121314151617181920

In [71]:
arquivo = open('arquivo.txt', 'a')

for i in range(10):
    arquivo.writelines(str(i + 21))
arquivo.close()

with open('arquivo.txt', 'r') as arquivo:
    print(arquivo.read())

1112131415161718192021222324252627282930

In [73]:
with open("arquivo.txt", "w") as arquivo:
    for i in range(20):
        arquivo.writelines(str(i + 11) + "\n")

with open("arquivo.txt", "r") as arquivo:
    for linha in arquivo:
        print(linha.strip())

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30