#1. Amostragem Aleatória Simples

Crie uma lista de 100 nomes simulados (por exemplo: Pessoa1, Pessoa2, ..., Pessoa100) e use a biblioteca `random` ou `numpy` para selecionar uma amostra aleatória simples de 10 pessoas.

In [129]:
# importação de bibliotecas pandas (para carregar csv) e numpy (para gerar dados aleatórios)
import pandas as pd
import numpy as np
import random

populacao = []

# Criando lista Aleatória
for i in range(100):
  populacao.append(f'Pessoa {i}')

print(populacao)

['Pessoa 0', 'Pessoa 1', 'Pessoa 2', 'Pessoa 3', 'Pessoa 4', 'Pessoa 5', 'Pessoa 6', 'Pessoa 7', 'Pessoa 8', 'Pessoa 9', 'Pessoa 10', 'Pessoa 11', 'Pessoa 12', 'Pessoa 13', 'Pessoa 14', 'Pessoa 15', 'Pessoa 16', 'Pessoa 17', 'Pessoa 18', 'Pessoa 19', 'Pessoa 20', 'Pessoa 21', 'Pessoa 22', 'Pessoa 23', 'Pessoa 24', 'Pessoa 25', 'Pessoa 26', 'Pessoa 27', 'Pessoa 28', 'Pessoa 29', 'Pessoa 30', 'Pessoa 31', 'Pessoa 32', 'Pessoa 33', 'Pessoa 34', 'Pessoa 35', 'Pessoa 36', 'Pessoa 37', 'Pessoa 38', 'Pessoa 39', 'Pessoa 40', 'Pessoa 41', 'Pessoa 42', 'Pessoa 43', 'Pessoa 44', 'Pessoa 45', 'Pessoa 46', 'Pessoa 47', 'Pessoa 48', 'Pessoa 49', 'Pessoa 50', 'Pessoa 51', 'Pessoa 52', 'Pessoa 53', 'Pessoa 54', 'Pessoa 55', 'Pessoa 56', 'Pessoa 57', 'Pessoa 58', 'Pessoa 59', 'Pessoa 60', 'Pessoa 61', 'Pessoa 62', 'Pessoa 63', 'Pessoa 64', 'Pessoa 65', 'Pessoa 66', 'Pessoa 67', 'Pessoa 68', 'Pessoa 69', 'Pessoa 70', 'Pessoa 71', 'Pessoa 72', 'Pessoa 73', 'Pessoa 74', 'Pessoa 75', 'Pessoa 76', 'Pessoa 77', 'Pessoa 78', 'Pessoa 79', 'Pessoa 80', 'Pessoa 81', 'Pessoa 82', 'Pessoa 83', 'Pessoa 84', 'Pessoa 85', 'Pessoa 86', 'Pessoa 87', 'Pessoa 88', 'Pessoa 89', 'Pessoa 90', 'Pessoa 91', 'Pessoa 92', 'Pessoa 93', 'Pessoa 94', 'Pessoa 95', 'Pessoa 96', 'Pessoa 97', 'Pessoa 98', 'Pessoa 99']

In [130]:
len(populacao)

100

In [131]:
# Mudança da semente aleatória randômica para manter os resultados em várias execuções
np.random.seed(42)

# 10 amostras, de pessoas, probabilidades equivalentes
amostra = np.random.choice(a=[0,1], size=10, replace=True, p=[0.7, 0.3])

print(amostra)

[0 1 1 0 0 0 0 1 0 1]

#2. Amostragem Estratificada

Dado um DataFrame com duas colunas: 'nome' e 'categoria' (valores: A, B, C), com 60 registros (20 de cada categoria), utilize `train_test_split` do `sklearn` para selecionar 50% de amostra estratificada.

In [132]:
from sklearn.model_selection import train_test_split

# Gerar nomes
nomes = [f'Pessoa {i}' for i in range(1, 61)]

# Gerar categorias balanceadas
categorias = ['A'] * 20 + ['B'] * 20 + ['C'] * 20
random.shuffle(categorias)  # Embaralhar para aleatoriedade

# Criar DataFrame
base_teste = pd.DataFrame({'nome': nomes, 'categoria': categorias})

base_teste.describe()

            nome categoria
count         60        60
unique        60         3
top     Pessoa 1         C
freq           1        20

In [133]:
# Contagem de quantos registros existem por classe
base_teste['categoria'].value_counts()

categoria
C    20
A    20
B    20
Name: count, dtype: int64

In [134]:
# Realiza a divisão dos dados em duas partes (com 50% dos dados cada), mantendo a proporção das classes da variável 'categoria' (stratify).
# Apenas os dados de entrada (X) e os rótulos (y) da primeira metade são utilizados; a outra metade é descartada (usando '_').
# Em seguida, exibe a contagem de cada classe presente no conjunto y para verificar o balanceamento após o split.
X, _, y, _ = train_test_split(base_teste.iloc[:, 0], base_teste.iloc[:, 1],
                              test_size = 0.5, stratify = base_teste.iloc[:,1])
y.value_counts()

categoria
C    10
B    10
A    10
Name: count, dtype: int64

#3. Amostragem Sistemática

Implemente uma função que receba uma lista de 100 elementos e selecione uma amostra sistemática de 10 elementos (um a cada k elementos).

In [157]:
from math import ceil

# Criação das variáveis para representar a população, a amostra e o valor de k
populacao_n = len(populacao)
amostra_n = 10
k = ceil(populacao_n / amostra_n)
print(k)

10

In [158]:
# Definição do valor randômico para inicializar a amostra, iniciando em 1 até k + 1
r = np.random.randint(low = 1, high = k + 1, size = 1)
print(r)

[1]

In [159]:
# Criamos um for para somar os próximos valores, baseado no primeiro valor r que foi definido acima
acumulador = r[0]
sorteados = []
for i in range(amostra_n):
    #print(acumulador)
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[np.int64(1), np.int64(11), np.int64(21), np.int64(31), np.int64(41), np.int64(51), np.int64(61), np.int64(71), np.int64(81), np.int64(91)]

In [160]:
len(sorteados)

10

In [164]:
# Selecionamos da população apenas os elementos cujos índices estão na lista 'sorteados'.
# Como os índices em Python começam do zero (indexação baseada em zero), subtraímos 1 de cada valor em 'sorteados',
# assumindo que 'sorteados' contém posições iniciando em 1 (indexação baseada em 1, como geralmente ocorre em planilhas).
# O resultado é a lista 'base_final', contendo somente os elementos sorteados da população original.
base_final = [populacao[i - 1] for i in sorteados]
base_final

['Pessoa 0',
 'Pessoa 10',
 'Pessoa 20',
 'Pessoa 30',
 'Pessoa 40',
 'Pessoa 50',
 'Pessoa 60',
 'Pessoa 70',
 'Pessoa 80',
 'Pessoa 90']